@charset "UTF-8";

body
{
    font-family: Arial, Helvetica, sans-serif;    
   
    background-image:linear-gradient(to right,#2E8592 ,#9EDFDF)
}
p {
    text-align: justify; 
    font-size: 15px;

}
main {
    background-color: white;
    width:1400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #308d9ba5 ;
}
h1 {
color: #803B0A;
text-align: center;
text-shadow: 1px 1px 0px rgba(86, 40, 7, 0.642);
}
h2{
color: #F27101;
}