@charset "UTF-8";    
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
:root {
    --CORfontprincipal:  #a1adc3; 
    --CORfontehover: #ffffff;
    --CORfundohover: #1a2643 ;
    --CORsecundaria:#43464f ;
    --CORF2: #f7fbff ;
    --CORFP:#0F172B ;
    --CORshadow: #c8c8c8;
}


/*---------------------------------------------------------------------------------*/
/*---------------------------Header e Navegacao do site----------------------------*/
/*---------------------------------------------------------------------------------*/
header {
    background-color:var(--CORFP) ;
    width: auto;
    height: 15vh;
    z-index: 1000;
    background-attachment: scroll;
    
}

nav {
    display: flex;
    justify-content: center;
    height: 15vh;
}

nav > ul {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    gap:5vw;
    list-style: none;
    padding: 0;
    align-items: center;
}

.logo {
    color: #ffffff;
    margin-right: 35vw ;
    font-family: "Montserrat";
    font-size: 35px;
}

li > a {
    color: var(--CORfontprincipal);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Inter";
    font-size: 19px;

}

a:hover {
    color: var(--CORfontehover);

}
/*---------------------------------------------------------------------------------*/
/*--------------------------------Conteudo Inicio----------------------------------*/
/*---------------------------------------------------------------------------------*/
.Cinicio {
    padding-top: 0;
    margin-top: 0;
    width: 99vw;
    height: 85vh;

    background-image: 
        linear-gradient( to right, 
            rgb(255, 255, 255), 
            rgba(255, 255, 255, 0.974), 
            rgba(255, 255, 255, 0.755), 
            rgba(255, 255, 255, 0.697)
         ),
         url(img/local-de-trabalho-com-notebook-laptop-confortavel-mesa-de-trabalho-no-escritorio_38045-466.webp);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#titulo{
    font-size: 3.5rem;
    font-family: "Inter";
    font-weight: bold;
    color: var(--CORFP);
    text-align: center;
    margin-bottom: 3.8vh;
}
p {
    font-size: 1.3rem;
    font-family: "Inter";
    font-weight: 300;
    color: var(--CORFP);
    text-align: center;
}
#subtitulo {
    margin-bottom: 3.8vh;
}
.Botao01 {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 15vw;
    height: 8vh;

    color: var(--CORfontehover);
    font-family: "Inter";
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;

    

    background-color: var(--CORFP);
    
    border: var(--CORFP);
    border-radius: 9px;
    box-shadow:7px 7px 15px var(--CORshadow);
    
}

.Botao01:hover {
    background-color:var(--CORfundohover);

}
/*---------------------------------------------------------------------------------*/
/*--------------------------------Conteudo Sobre-----------------------------------*/
/*---------------------------------------------------------------------------------*/
.section01 {
    padding-top: 0;
    margin-top: 0;
    width: 99vw;
    height: 85vh;

    background-color: var(--CORfontehover);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 60px;    
}
.ancora {
    font-weight: 500;
    font-family: "Inter";
    font-size: 1rem;
    color: var(--CORfontprincipal);
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Inter";
    color: var(--CORFP);
}
.block {
    width: 100%;
    max-width: 360px;
    padding: 40px 32px;
    background-color: var(--CORF2);
    border-radius: 12px;
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Inter";
    color: var(--CORFP);
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.cardsubtitulo {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--CORsecundaria);
}