@charset "UTF-8";
/*---------------------------------------------------------------------------------*/
/*--------------------------------------Geral--------------------------------------*/
/*---------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;

}
main {
    display: flex;

    width: 100dvw;
    height: 100dvh;
    background-color: antiquewhite;
    justify-content: center
}
section {
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 50px;
    margin: 9px;
    width: 20vw;
    height: 30vh;
}

/*---------------------------------------------------------------------------------*/
/*--------------------------------------Junior-------------------------------------*/
/*---------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------*/
/*--------------------------------------Junior-------------------------------------*/
/*---------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------*/
/*--------------------------------------Senior-------------------------------------*/
/*---------------------------------------------------------------------------------*/
.senior {
    width: 42vw;
    flex-direction: ;

}