@charset "UTF-8";
/*---------------------------------------------------------------------------------*/
/*--------------------------------------Geral--------------------------------------*/
/*---------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
}
section {
    margin: 5px;
    
    border-radius: 5px;
    border: 3px solid rgb(86, 86, 86);
    width: 20vw;
}
h2 {
    background-color: rgb(86, 86, 86);
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    padding: 10px;

}
ul {
    padding: 20px;
}
.salary {
    
    background-color: green;
    padding: 10px;
    text-align: center;
    
}
/*---------------------------------------------------------------------------------*/
/*--------------------------------------Junior-------------------------------------*/
/*---------------------------------------------------------------------------------*/


