@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;

}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;

}
header > p {
    color: white;
    text-decoration: none;
    padding-bottom: 50px;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
#img1 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}
#img2 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal {
    background-color: white;
}
.img {
    background-color: ;
}
.img > p {
    background-color: rgba(0, 0, 0, 0.203) ;
    width: 400px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
} 
